<h1>Create new part</h1>
<br>
<br>
<form action="/parts" method="post">
  <label for="part[name]">Name: </label>
  <input type="text" name="part[name]" id="">
  <br>
  <br>
  <label for="part[description]">Description: </label>
  <input type="text" name="part[description]" id="">
  <br>
  <br>
  <label for="part[location]">Location: </label>
  <input type="text" name="part[location]" id="">
  <br>

<br>
<br>
<button type="submit">Create new part</button>
</form>