<h1>Create a new account</h1>

Already have an account? <a href="/login">Click here to login</a>

<h3>Login Info</h3>
<br>
<br>

<form action="/signup" method="post">
<label for="user[username]"> Username: </label><input type="text" name="user[username]" id=""><br>
<label for="user[email]">Email: </label> <input type="email" name="user[email]" id=""> <br>
<label for="user[password]">Password: </label> <input type="password" name="user[password]" id=""><br>
<button type="submit">Create new account</button>
</form>



